.padding{
    padding: 2em;
}
.container{
    text-align: center;
}
.cards{
    height: auto;
    background-image:linear-gradient(-45deg ,rgba(205, 253, 233, 0.377),rgba(142, 222, 228, 0.37)),url(card.png);

}
.title{
    padding: 1rem;
    font-family: cursive;
}
.App {
    text-align: center;
    height: 100%;
    min-height: 100%;
}